html, body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  *{
    box-sizing: border-box;
  }
}

body {
  padding-left: 60px;
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
  min-height: 640px;
  background: #f1f1f1;
}

*:focus {
  outline: 0;
}

a {
  color: #00B7FF;
} 
#wrapper {
	width:100%;
	height:100%;
	overflow:hidden;
	display:block;
	position:absolute;
  overflow-x: hidden;
	top:0;
	left:0;
}
#header {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:60px;
    -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .4);
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .4);
    z-index: 50;
    #header_wrapper{
      width:100%;
      height:100%;
      position: relative;
      min-height: 640px;
      #logo_container{
        width:100%;
        height:110px;
        border-top: 4px solid #555;
        #logo{
          width:26px;
          height:87px;
          margin:20px auto;
          display: block;
        }
      }
      #menu_container{
        width: 100%;
        height: 400px;
        position:absolute;
        top:50%;
        margin-top: -200px;
        z-index: 20;
        a{
          display: block;
          width:100%;
          height:80px;
          background:#fff;
          border-bottom:1px solid #f7f7f7;
          border-top:1px solid #cdcdcd;
          &:hover{
            background: #f0f0f0;
          }
          &.selected{
            border-right: 4px solid;
          }
          &:last-child{
            border-bottom:1px solid #cdcdcd;
          }

          .icon{
            display: block;
            height:50px;
            margin-top: 15px;
          }

          &#search .icon{
            background: url("/images/btn_search.png") right center no-repeat;
            width: 31px;
            margin-left: 14px;
            &:hover{
              background: url("/images/btn_search.png") left center no-repeat;
            }
          }

          &#search.selected{
            border-right-color: #f4b400;
          }
          &#search:hover, &#search.selected{
            .icon{
              background: url("/images/btn_search.png") left center no-repeat;
            }
          }

          &#data .icon{
            background: url("/images/btn_data.png") right center no-repeat;
            width: 23px;
            margin-left: 18px;
          }
          &#data:hover, &#data.selected{
            .icon{
              background: url("/images/btn_data.png") left center no-repeat;
            }
          }
          &#data.selected{
            border-right-color: #4285f4;
          }

          &#problems .icon{
            background: url("/images/btn_problems.png") right center no-repeat;
            width: 30px;
            margin-left: 15px;
          }
          &#problems:hover, &#problems.selected{
            .icon{
              background: url("/images/btn_problems.png") left center no-repeat;
              margin-left: 14px;
            }
          }
          &#problems.selected{
            border-right-color: #db4437;
          }

          &#projects .icon{
            background: url("/images/btn_projects.png") right center no-repeat;
            width: 27px;
            margin-left: 16px;
          }
          &#projects:hover, &#projects.selected{
            .icon{
              background: url("/images/btn_projects.png") left center no-repeat;
            }
          }
          &#projects.selected{
            border-right-color: #0f9d58;
          }

          &#add .icon{
            background: url("/images/btn_add.png") right center no-repeat;
            width: 29px;
            margin-left: 15px;
          }
          &#add:hover, &#add.selected{
            .icon{
              background: url("/images/btn_add.png") left center no-repeat;
              margin-left: 14px;
            }
          }
          &#add.selected{
            border-right-color: #262626;
          }

        }
      }
      #rollovers{
        width: 100%;
        height: 400px;
        position:absolute;
        top:50%;
        margin-top: -200px;
        z-index: 10;
        .rollover{
          position: relative;
          display: block;
          width:130px;
          height:80px;
          left: -70px;
          color:#fff;
          text-align: center;
          padding-top: 30px;
          z-index: 1;
          &#search_rollover{
            background: #f4b400;
          }
          &#data_rollover{
            background: #4285f4;
          }
          &#problems_rollover{
            background: #db4437;
          }
          &#projects_rollover{
            background: #0f9d58;
          }
          &#add_rollover{
            background: #262626;
          }
        }
      }
      #privacy{
        width: 100%;
        position: absolute;
        bottom:0px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;

        a{
          color: #262626;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

}
#content{
	position:absolute;
	top:0;
	left:60px;
	right:0;
	bottom:0;
}


#iframe_container{
  width:100%;
  height:100%;
	iframe{
		border:none;
	}
}

#info_window{
	width:585px;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	background:#fff;
  overflow-y:scroll;
  border-left: 1px solid #e5e5e5;

	.close_btn{
		position:absolute;
		left:-10px;
    top:0;
    z-index:1000;

	}
  .filter_box{
    height:60px;
    width:100%;
    background: #e5e5e5;
    font-size: 24px;
    font-weight: 100;
    padding-left: 40px;
    padding-top: 10px;
  }
  .dataItem{
    padding-left:40px;
    padding-right:40px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;

  }
  .datasets{
    margin-top: 20px;
  }
  .created_date{
    margin-bottom: 20px;
  }
  .problems{
    margin-top:20px;
  }
  .title{
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
    a{
      color:#484848;
      text-decoration: none;
    }
  }
  .description{
    font-size: 14px;
    color:#484848;
  }
  .userData{
    margin-top: 20px;
    min-height: 50px;
    .avatar{
      float: left;
      margin-right: 10px;
    }
  }
  .creator{
    font-weight: bold;
  }
}

#content{
  width: 100%;
  height: 100%;
  overflow: scroll;
  .page{
    width:100%;
    height:100%;
    color: #fff;

    &#first{
      background: url("/images/rand/4.jpg");
      .splash{
        position:relative;
        z-index: 1;
        height:100%;
        text-align: center;
        font-size: 36px;
        font-weight: 100;
        font-style: italic;
        padding-top: 115px;
        text-shadow: 1px 2px 4px #777;
        filter: dropshadow(color=#555, offx=1, offy=2);
        #name{
          font-size: 210px;

        }
      }
    }
    &#second{
      background: url("/images/rand/1.jpg");
    }
    &#third{
      background: #f1f1f1;
      min-height: 840px;
      .content{
        width: 740px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .module{
        width: 235px;
        height: 390px;
        border-radius: 5px;
        background: #fff;
        float: left;
        margin: 5px;
       &.bottom{
         margin-left: 130px;
       }
      }
    }

    .title, .content{
      width: 670px;
      margin: auto;
    }
    .title{
      padding-top:20px ;
      font-style: italic;
      font-weight: 100;
      font-size: 36px;
      text-shadow: 1px 2px 4px #777;
      filter: dropshadow(color=#555, offx=1, offy=2);
    }
    .content{
      font-size: 14px;
      .dplus{
        font-weight: bold;
      }
    }




  }
}

#search_box{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left: 0px;
  background: rgba(255,255,255, 0.9);
  z-index: 9999;
  #search_close{
    cursor: pointer;
    position: fixed;
    right:50px;
    top:50px;
  }
  #input{
    position: relative;
    width:100%;
    height:100px;
    display: block;
    margin-top: -50px;
    top:50%;
    input{
      width: 100%;
      height:80px;
      padding-left: 60px;
      background: transparent;
      border: 0px;
      font-style: italic;
      font-family:'Roboto', Helvetica, Arial, sans-serif;
      font-size: 60px;
      font-weight: 300;

    }
    label{
      display: block;
      margin-top: 20px;
      padding-left: 60px;
      font-size: 12px;
      font-weight: 500;

    }
  }
}


#form_selection{
  h1{
     text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 100px;
    color:#262626;
  }
  .shareBtns{
    width: 575px;
    margin:auto;
  }
  #data_form_btn{
    display: block;
    float: left;
    width: 120px;
    height: 122px;
    background: url("/images/data-large.png") left center no-repeat;
    &:hover{
      background: url("/images/data-large.png") right center no-repeat;
    }
  }
  #project_form_btn{
    float: left;
    display: block;
    width: 120px;
    height: 122px;
    margin: 0px 107px;
    background: url("/images/project-large.png") left center no-repeat;
    &:hover{
      background: url("/images/project-large.png") right center no-repeat;
    }
  }
  #problem_form_btn{
    float: left;
    display: block;
    width: 120px;
    height: 122px;
    background: url("/images/problem-large.png") left center no-repeat;
    &:hover{
      background: url("/images/problem-large.png") right center no-repeat;
    }
  }
}

.add_form{
  width: 455px;
  height: 445px;
  margin: auto;
  margin-top: 50px;
  input{
    width: 100%;
    height:30px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  textarea{
    width:100%;
    height: 60px;
    resize: none;
    padding-left: 10px;
  }
  .submit_btn{
    background: #e74c3c;
    display: block;
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color:#000;
  }
}

#add_data, #add_project, #add_problem{
  display:none;
}
